table {
 width: 65%;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 60px;
}

#resource
{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}
#resource td, #resource th {
  border: 1px solid #ddd;
  padding: 8px;
}
#resource tr:hover {
  background-color: #ddd;
}

#resource th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gray;
  color: white;
  font-size: 20px;
}
button{
  justify-content: center;

}
// button.export-button
//  {
//   margin-left: 970px;
//   margin-top: 150px;
//   margin-bottom: 20px;
//  }
//  button.delete-button
//  {
//   margin-left: 10px;
//  }

button.export-button
 {
  margin-left: 450px;
  margin-top: 120px;
  margin-bottom: 25px;
 }
 button.delete-button
 {
  margin-left: 10px;
  margin-top: 95px;
 }

 .mat-header-cell {
  //color: rgba(0,0,0,.54);
  background-color: gray;
  height: 30px;
}
.mat-checkbox
{
 padding: 0px 0px 20px 10px;
}
.mat-cell, .mat-footer-cell
{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

// .mat-paginator
// {
//   position: absolute;
//   font-size : 16px;
//   margin-left: 650px;
//   font-weight: bold;
//   margin-top: 20px;
// }

.mat-paginator
{
  font-size : 14px;
  font-weight: bold;
  margin-right: 450px;

}