<div class="flex-container" fxLayout="row" fxFlex.lt-md="column">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Cluster/Domain</mat-card-title>
    </mat-card-header>
    <form class="my-form" #clusterForm="ngForm">
      <mat-card-content>
        <mat-form-field class="full-width">
          <mat-label>Cluster Name</mat-label>
          <input matInput required placeholder="Cluster Name" name="cluster_name" [(ngModel)]="cluster_name" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Description" name="cluster_description"
            [(ngModel)]="cluster_description"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Start Date</mat-label>
          <input matInput required [matDatepicker]="picker" placeholder="Choose a date" name="cluster_date"
            [(ngModel)]="cluster_date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>

        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <div class="example-button-row">

          <button mat-raised-button matTooltip="Add Cluster" (click)=addCluster(clusterForm)
            color="primary">Save</button>

        </div>
        <!-- <mat-icon  mat-raised-button matTooltip="Add Cluster" (click)=addCluster(clusterForm)>add_circle </mat-icon> -->

      </mat-card-actions>
    </form>
  </mat-card>
</div>