mat-toolbar{
    width:100%;
    position: fixed;
    top:0;
    z-index: 1;
    left: 0;
    right: 0;
   background-color: black;
    height:85px;
}

  .header{

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:white;
    
  }

 
  img
{  
    width:200px;
    height:70px;
    margin:0%;
}

.menu{
  //margin-left:1090px;
  margin-left: 800px;
  text-decoration-color: white;
}
.example-button-row button,
.example-button-row a {
  //margin-right: 8px;
  margin-right: 36px;
  
}
button{
  background-color: white;
  font-size: 17px;
  height:40px;
  width:80px;
}
.menu1{
margin-left: 20px;
}
